<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap" rel="stylesheet">

<header>
  <div id="navbar" class="fixed-top">
    <div>
      <a class="navbar-brand" href="/">Bon Appetit</a>
    </div>
    <div class="navbar-nav ml-auto">
      <input type="text" id="categorySearch" name="category" size="30" placeholder="Category">
      <input type="text" id="locationSearch" name="location" size="30" placeholder="Location">
      <button>Login</button>
      <button>Register</button>
    </div>
  </div>
</header>
