<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap" rel="stylesheet">

<header>
  <div id="navbar" class="fixed-top">
    <div>
      <a class="navbar-brand" href="/">Megabite</a>
      <a style="color:white;text-transform:uppercase;font-size:12px">a quick fix for hungry devs</a>
    </div>
    <div class="navbar-nav ml-auto">
      <% if (true) { %>
        <input type="text" id="categorySearch" class="search" name="category" size="30" placeholder="Category">
        <input type="text" id="locationSearch" class="search" name="location" size="30" placeholder="Location">
        <button class="navbar-btn">Search</button>
        <button class="navbar-btn">Logout</button>
      <% } else { %>
        <button class="navbar-btn">Login</button>
        <button class="navbar-btn">Register</button>
      <% } %>
    </div>
  </div>
</header>
