<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap" rel="stylesheet">

<header>
  <div id="navbar" class="fixed-top">
    <div>
      <a class="navbar-brand" href="/">Megabite</a>
      <a style="color:white;text-transform:uppercase;font-size:12px">a quick fix for hungry devs</a>
    </div>
    <div class="navbar-nav ml-auto">
      <% if (user) { %>
        <a href="/logout" class="navbar-btn">Logout</a>
      <% } else { %>
        <a href="/login" class="navbar-btn">Customer?</a>
      <% } %>
    </div>
  </div>
</header>
