<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


  <title>Menu</title>
</head>
<body>
  <div class="menu-container">
    <header><% include ./partials/_header %></header>
    <div>
      <h1 class="reset resto-name"><%= data[0].restaurant_name %></h1>
    </div>
    <div class="menu-main">
      <div class="items">
        <div class="prev-orders">
            <h2 class="reset">Previous Order</h2>
            <div class="prev-order">
            <p>1 x Pork Dumpling</br>1 x Pork and Shrimp Dumpling</p>
            <p>Oct 10, 2019 10:30AM</p>
          </div>
        </div>
        <% for (let item of data) { %>
        <div class="item">
            <span>$<%= item.price/100 %></span>
          <h2 class="reset"><%= item.item_name %></h2>
          <p class="item-desc"><%=item.description%></p>
        </div>
        <% } %>
        <div class="item">
          <h2 class="reset"> Xiao Long Bao</h2>
          <p class="item-desc">Nothing fancy.</p>
        </div>
      </div>
      <div id="cart">
        <h2 class="reset">Cart</h2>
        1x Cha Siu Bao</br>
        1x Cha Siu Bao</br>
        1x Cha Siu Bao</br>
        1x Cha Siu Bao</br>
        1x Cha Siu Bao</br>
        1x Cha Siu Bao</br>
        1x Cha Siu Bao</br>
        1x Cha Siu Bao</br>
        1x Cha Siu Bao</br>
        Grows with content!!!
      </div>
    </div>
  </div>
</body>
</html>
