<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/ownerOrder.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/login.js"> </script>

<body>
  <div class="page-container">
    <header><% include ./partials/_ownerHeader %></header>
  <div id="oOrdersContainer">
    <div class="ordersContainer">
      <p> hi</p>
    </div>
    <div class="ordersContainer">
        <p> hi</p>
    </div>
    <div class="ordersContainer">
        <p> hi</p>
        <script
          async
          src="https://pay.google.com/gp/p/js/pay.js"
          onload="console.log('TODO: add onload function')">
        </script>
    </div>
  </div>

</body>
</html>
