<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <link rel="shortcut icon" type="image/png" href="/images/fav.png"/>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/login.js"> </script>

<body>
  <% include ./partials/_ownerHeader %>
  <div class="container" id="container">
    <div class="form-container register-container">
      <form method="POST" action="/register">
        <h1>Create Account</h1>
        <input id="registerName" class="formInput" type="text" name="first_name" placeholder="First Name">
        <input class="formInput" type="text" name="last_name" placeholder="Last Name">
        <input class="formInput" type="email" name="email" placeholder="Email">
        <input class="formInput" type="password" name="password" placeholder="Password">
        <input class="formInput" type="text" name= "phone_number" placeholder="Number">
        <button class="formBtn">Register</button>
      </form>
    </div>
    <div class="form-container login-container">
      <form method="POST" action="/login">
        <h1>Login</h1>
        <input id="loginEmail" class="formInput" type="email" name="email" placeholder="Email">
        <input class="formInput" type="password" name="password" placeholder="Password">
        <button class="formBtn">Login</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Existing restaurant</br>Welcome Back!</h1>
          <button class="formBtn" id="signIn">Login</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>New restaurant</h1>
          <button class="formBtn" id="signUp">Register</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
