<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type='text/javascript' src='/scripts/config.js'></script>

    <style>
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      </style>
  </head>

  <body>
    <header><% include ./partials/_header %></header>
    <div class="container">
      <main>User Order History</main>
      <map>
        <div id="map"></div>
        <script async defer type='text/javascript' src='/scripts/map.js'></script>
      </map>
    </div>
  </body>
</html>
