.container {
  max-width: 100vw;
  max-height:100vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.container header {
  grid-area: 1/1/2/5;
  padding: 1rem;
}

.container main {
  /* margin-top:48px; */
  /* grid-area: 1/auto/2/auto; */
  grid-auto-rows: auto;
  height: 100vh;
  padding: 90px 1rem 1rem 1rem;
  font-family: 'Open Sans', sans-serif;
}

.container map {
  /* margin-top:48px; */
  padding-top:80px;
  /* grid-area: 1/auto/2/auto; */
  height: 100vh;
  grid-auto-rows: auto;
}

.container > * {
  background-color: rgb(240, 240, 240);
  padding: 0.1rem;
}

body {
  overflow: hidden;
}
