.menu-container {
  max-width: 100vw;
  max-height:100vh;
  display:grid;
  grid-template-rows: 80px auto auto;
}

.resto-name {
  background-color: white;
  border-radius:8px;
  margin: 10px 20px 0px 20px;
  padding: 10px 30px 10px 30px;
}

.prev-orders {
  margin-bottom: 10px;
  border-radius:8px;
  background-color: white;
  padding: 10px 30px 10px 30px;;
}

.prev-order {
  margin: 10px;
}

.menu-main {
  display:grid;
  grid-template-columns: 3fr 430px;
  height: 100vh;
  background-color: rgb(240, 240, 240);
}

.items {
  background-color: rgb(240, 240, 240);
  border-radius:8px;
  margin: 10px 0px 10px 20px;
  overflow: scroll;
}

.item {
  margin-bottom: 5px;
  border-radius:8px;
  background-color: white;
  padding: 10px 30px 10px 30px;
}

.item-desc {
  margin: 0;
}

#cart {
  grid-auto-rows: auto;
  border-radius:8px;
  background-color: white;
  margin: 10px 20px 20px 10px;
  padding: 10px;
  min-height: 200px;
  max-height: calc(100vh - 200px);
  position: fixed;
  width: 400px;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

.cart-effects {
  background-color: #fff;
	border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
  min-height: 480px;
  outline: none;
}

.quantity {
  border-radius: 4px;
  border: solid thin;
  padding-left: 10px;
  text-decoration: none;
  width: 60px;
  height: 30px
}

.cart-btn {
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  border: none;
  padding-left: 10px;
  text-decoration: none;
  display:inline-block;
  height: 30px;
  margin: 0;
}

.submit-btn {
	border-radius: 20px;
	border: 1px solid #FFFFFF;
	background-color: rgb(52, 194, 212);
	color: #FFFFFF;
	font-size: 12px;
	padding: 10px 166px;
	text-transform: uppercase;
	transition: transform 70ms ease-in;
}

.remove-btn{
  text-transform: uppercase;
  color: black;
  border: none;
  background-color: transparent;
  text-decoration-line: underline;
	font-size: 12px;
}

.hidden {
  border:none;
}

.menu-container > * {
  padding: 0.1rem;
  background-color: rgb(240, 240, 240);
}

