.menu-container {
  max-width: 100vw;
  max-height:100vh;
  margin: 10px;
  display:grid;
  grid-template-rows: 80px auto auto;
}

.resto-name {
  /* margin-top: 90px; */
  border: solid;
}

.prev-order {
  border: solid;
}

.menu-main {
  border: solid;
  display:grid;
  grid-template-columns: 3fr 1.5fr;
}

.items {
  border: solid;
}

.item {
  border: solid;
}

.cart {
  grid-auto-rows: auto;
  border: solid;
}
