.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

#navbar {
  display: flex;
  height:80px;
  background-color: rgb(0, 225, 255);
  opacity: 0.4;
  padding: 1rem 1rem 1rem 1rem;
}

.navbar-brand {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  text-decoration: none;
}

.navbar-nav {
  padding: 1.6rem 0rem 1rem 1rem;
  margin-left: auto;
}
