#restaurantResult {
  display:grid;
  grid-template-columns: 1fr 2fr;
}

#map {
  height: 100%;
  overflow: hidden;
}

.tab {
  background-color: rgb(220, 220, 220);
  border-radius: 8px 8px 0% 0%;
  border: solid;
  border-color: rgb(220, 220, 220);
  text-align: center;
  text-decoration: none;
  display:inline-block;
  width: 49.5%;
  height: 40px;
}

.tab_active {
  background-color: white;
  border: none;
}

.searchResults {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 10px;
}

#result {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1;
  background-color: white;
}

#result_img {
  margin: 10px;
}

.thumb_resize {
  height: 150px;
}
